body {
  background: black;
  color: white;
}

#date, #weekday, #clock {
  width: 800px;
  margin: auto;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#date {
  font-size: 48px;
  position: relative;
  top: 100px;
}

#weekday {
  height: 80px;
  position: absolute;
  left: 0; right: 0;
  top: 300;
  font-size: 75px;
}

#clock {
  height: 100px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  font-size: 100px;
}
